# rename to secrets.yml and fill in
all:
  children:
    frontends:
      children:
        a:
          vars:
            DESEC_NS_SIGNALING_DOMAIN_ZONE_PRIVATE_KEY_B64: "REVTRUNfTlNfU0lHTkFMSU5HX0RPTUFJTl9aT05FX1BSSVZBVEVfS0VZX0I2NA=="
            DESEC_NS_COOKIES_SECRET: "1520f0232b7fbffff243af5a70975fd3"
        c:
          vars:
            DESEC_NS_SIGNALING_DOMAIN_ZONE_PRIVATE_KEY_B64: "REVTRUNfTlNfU0lHTkFMSU5HX0RPTUFJTl9aT05FX1BSSVZBVEVfS0VZX0I2NA=="
            DESEC_NS_COOKIES_SECRET: "4e76ed258c89378e4583496c893adcb6"
