DESECSLAVE_IPV6_SUBNET={{ DESECNS_IPV6_SUBNET }}
DESECSLAVE_IPV6_ADDRESS={{ DESECNS_IPV6_ADDRESS }}
DESECSLAVE_CARBONSERVER=37.252.122.50
DESECSLAVE_CARBONOURNAME=dens3{{ ansible_hostname | regex_search('^[a-z]+') }}
DESECSLAVE_NS_APIKEY={{ lookup('password', '/dev/null chars=ascii_lowercase,digits length=32') }}
DESECSTACK_VPN_SERVER=desec.{{ DESECSTACK_DOMAIN }}
