- name: Restore PKI on frontends
  hosts:
    - frontends_a
    - frontends_c
  remote_user: root

  tasks:
    - name: Check if backup is available
      delegate_to: localhost
      stat:
        path: pki-backup/{{ ansible_fqdn }}/desec-slave/openvpn-client/secrets/client.key
      register: secrets
    - name: Restore
      copy:
        src: pki-backup/{{ ansible_fqdn }}/
        dest: .
      when: secrets.stat.exists

- name: Restore PKI on stack
  hosts: stack
  remote_user: root

  tasks:
    - name: Check if backup is available
      delegate_to: localhost
      stat:
        path: pki-backup/{{ ansible_fqdn }}/desec-stack/openvpn-server/secrets/server.key
      register: secrets
    - name: Debug Info
      debug:
        msg: "FQDN: {{ansible_fqdn}}"
    - name: Restore
      copy:
        src: pki-backup/{{ ansible_fqdn }}/
        dest: .
      when: secrets.stat.exists
